.footer {
  background-color: var(--clr-white);
  border-radius: 12px 12px 0 0;
  bottom: 0;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  position: fixed;
  transition: 2s;
  width: 100%;
}

.disappear {
  transition: 1s;
  visibility: collapse;
}

.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__list__link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--clr-gray);
}

.footer__list__link:before {
  aspect-ratio: 1;
  content: "";
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-flex;
  filter: invert(27%) sepia(2%) saturate(7%) hue-rotate(349deg) brightness(92%)
    contrast(89%);
  height: 20px;
}

.footer__list__link--calendar:before {
  background-image: url(../../icons/calendar.svg);
}
.footer__list__link--clients:before {
  background-image: url(../../icons/people.svg);
}

.footer__list__link--papers:before {
  background-image: url(../../icons/verticalbar.svg);
}

.footer__list__link--menu:before {
  background-image: url(../../icons/hamburger.svg);
}

.footer__list__link:focus:before,
.footer__list__link:focus {
  filter: invert(77%) sepia(64%) saturate(6688%) hue-rotate(197deg)
    brightness(101%) contrast(101%);
}

@media (min-width: 1440px) {
  .footer {
    border-radius: 0;
    top: 0;
    left: 0;
    max-width: 30vh;
  }

  .footer__list {
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
  }

  .footer__list__link {
    flex-direction: row;
    font-weight: var(--fw-bold);
  }
}
