.hero {
  padding: 2rem 1rem;
}

.hero__img {
  aspect-ratio: 1;
  border-radius: 100%;
  height: 57px;
}

.hero__greetings {
  color: var(--clr-black);
  font-weight: var(--fw-bold);
  font-size: var(--fs-large);
}

.hero__name {
  display: inline-block;
}

.hero__info {
  color: var(--clr-gray);
  font-size: var(--fs-small);
}
