:root {
  --clr-black: #464646;
  --clr-black-01: #46464610;
  --clr-blue-300: #70b4ff;
  --clr-blue-400: #57a4ff;
  --clr-blue-500: #4894ff;
  --clr-blue-600: #4786f0;
  --clr-blue-700: #4373dc;
  --clr-blue-800: #4062c9;
  --clr-blue-box-shadow: rgba(72, 148, 255, 0.1);
  --clr-bg: linear-gradient(165.96deg, #f8f4ff 0%, #eff0f4 100%);
  --clr-gray: #a3a3a3;
  --clr-gray-tag-bg: #f6f6f6;
  --clr-gray-btn: #b9b9b9;
  --clr-gray-btn-text: #888888;
  --clr-gray-border: #ececec;
  --clr-gray-label: #898989;
  --clr-gray-placeholder: #cfcfcf;
  --clr-gray-placeholder-hover: #adadad;
  --clr-gray-placeholder-disabled: #afadad;
  --clr-gray-label-disabled: #e4e4e4;

  --clr-orange: #ffb050;
  --clr-red-input: #de0000;
  --clr-red-message: #ce0303;
  --clr-white: #ffffff;

  --ff-montserrat: "Montserrat", sans-serif;

  --fs-large: 1.375rem;
  --fs-normal: 1rem;
  --fs-small: 0.875rem;
  --fs-smaller: 0.75rem;

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-montserrat);
  font-size: 16px;
}

body {
  background: var(--clr-bg);
}
