input {
  border: none;
  outline: none;
}

.label,
.input {
  font-family: var(--ff-montserrat);
  font-size: var(--fs-normal);
  font-weight: var(--fw-regular);
}

.label-div {
  color: var(--clr-gray-label);
  display: flex;
  flex-direction: column;
  gap: 0.24rem;
  height: 100%;
}

.label {
  display: contents;
}

.input {
  padding: 1rem;
  border-radius: 8px;
  color: var(--clr-gray-placeholder);
  border: 1px solid transparent;
  width: 100%;
  max-width: 238px;
}

.input:hover {
  border: 1px solid var(--clr-gray-placeholder);
  color: var(--clr-gray-placeholder-hover);
}

.input:focus {
  border: 1px solid transparent;
  outline: 2px solid var(--clr-blue-500);
}

.input--select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--clr-white);
  background-image: url(../../icons/select.svg);
  background-size: 10px 5px;
  background-position-x: calc(100% - 1rem);
  background-position-y: center;
  background-repeat: no-repeat;
}

.input--select:focus {
  background-image: url(../../icons/select-up.svg);
}

.input--select option {
  color: var(--clr-black);
  font-size: var(--fs-normal);
}

.input--erro {
  border: 1px solid var(--clr-red-input);
}

.input--disabled {
  border: 1px solid transparent;
  background-color: var(--clr-gray-label-disabled);
  color: var(--clr-gray-placeholder-disabled);
  pointer-events: none;
}

.label--error {
  color: var(--clr-red-input);
  display: block;
  font-size: var(--fs-smaller);
}
