.btn {
  border: 2px solid transparent;
  border-radius: 8px;
  box-shadow: 0px 4px 16px var(--clr-blue-box-shadow);
  box-sizing: border-box;
  cursor: pointer;
  font-family: var(--ff-montserrat);
  font-size: var(--fs-smaller);
  font-weight: var(--fw-bold);
  padding: 0.875rem 1rem;
  outline: none;
  width: 100%;
  max-width: 100%;
}

.btn--primary {
  background-color: var(--clr-blue-500);
  border: 2px solid transparent;
  color: var(--clr-white);
}

.btn--primary:hover {
  background-color: var(--clr-blue-600);
}

.btn--primary:focus {
  background-color: var(--clr-blue-800);
  border: 2px solid var(--clr-blue-500);
}

.btn--primary:active {
  background-color: var(--clr-blue-700);
  border: 2px solid var(--clr-blue-400);
}

.btn--secondary {
  background-color: transparent;
  border: 2px solid var(--clr-blue-500);
  color: var(--clr-blue-500);
}

.btn--secondary:hover {
  color: var(--clr-white);
  background-color: var(--clr-blue-500);
}

.btn--secondary:focus {
  background-color: var(--clr-blue-700);
  border: 2px solid var(--clr-blue-400);
  color: var(--clr-white);
}

.btn--secondary:active {
  background-color: var(--clr-blue-600);
  box-shadow: 0px 4px 16px var(--clr-blue-box-shadow);
  border: 2px solid var(--clr-blue-300);
}

.btn--disabled {
  background-color: var(--clr-gray-btn);
  border: none;
  color: var(--clr-gray-btn-text);
}

.btn--orange {
  background-color: var(--clr-orange);
  box-shadow: none;
  color: var(--clr-white);
  font-weight: var(--fw-medium);
}

.btn--transparent {
  background-color: transparent;
  border: 2px solid var(--clr-gray-border);
  box-shadow: none;
  color: var(--clr-black);
  font-weight: var(--fw-medium);
}

.btn--address {
  border: 2px solid transparent;
  font-weight: var(--fw-medium);
}
